.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book";
}
.text-smaller{
    -fx-font-size: 11px;
    -fx-font-family: "Avenir Book";
}
.text-larger{
    -fx-font-size: 15px;
    -fx-font-family: "Avenir Book";
}
.text-bold{
    -fx-font-size: 13px;
    -fx-font-family: "Cooper";
    -fx-font-weight: bold;
}
/* If fonts dont work on both mac and windows, just use Comic Sans MS instead */
.logo{
    -fx-font-size: 39px;
    -fx-font-family: Algerian;
}
.logo-twirl{
    -fx-font-size: 35px;
    -fx-font-family: "Lucida Handwriting";
    -fx-rotate: -12;
    -fx-text-fill: #FFAC33;
}
.recipe-list-item{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
.recipe-list-item:hover{
     -fx-background-color: #FCFCFC;
 }
.recipe-list-item:pressed{
    -fx-background-color: #D0D0D0;
}
